---
import LinkButton from "./ui/Button/LinkButton.vue";
import Logo from "./ui/Logo.vue";
import UserMenu from "./ui/UserMenu.vue";

const { user } = Astro.locals;
---

<header
  class="fixed top-0 left-0 right-0 z-50 border-b border-border/50 bg-card/15 backdrop-blur-md"
>
  <div class="container mx-auto flex h-16 items-center justify-between px-6">
    <Logo client:load />

    <nav class="flex items-center gap-3">
      {
        user ? (
          <div class="flex items-center gap-3">
            <UserMenu client:load user={user} />
          </div>
        ) : (
          <>
            <LinkButton href="/login" variant="ghost" size="sm">
              Log in
            </LinkButton>
            <LinkButton
              href="/register"
              variant="default"
              size="sm"
              class="px-5 shadow-sm"
            >
              Sign Up
            </LinkButton>
          </>
        )
      }
    </nav>
  </div>
</header>
