---
import MainLayout from "../layouts/MainLayout.astro";
import DashboardManager from "../components/Dashboard/DashboardManager.vue";
---

<MainLayout title="Dashboard | URL Shortener">
    <div class="min-h-screen pt-16">
        <DashboardManager client:load />
    </div>
</MainLayout>
